{{#if article}}
  <h1>{{article.name}}</h1>
  <p>Published: {{article.published}}</p>
  <p>Author: <a href="/author/{{article.author_id}}">{{article.author_name}}</a></p>
  <img src="/images/{{article.image}}" alt="{{article.name}}">
  {{{article.body}}}
{{/if}}
