<h1>Author: {{author.name}}</h1>
<h2>article by {{author.name}}:</h2>

{{#if article.length}}
  <ul>
    {{#each article}}
      <li>
        <a href="/article/{{this.slug}}">
          <img src="/images/{{this.image}}" alt="{{this.name}}">
          <h3>{{this.name}}</h3>
        </a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No article found for this author.</p>
{{/if}}
